unity3d/Library/cache
unity3d/Library/previews
unity3d/Library/metadata
unity3d/Library/ScriptAssemblies
unity3d/Library/guidmapper
unity3d/Library/assetDatabase3
unity3d/Library/FailedAssetImports.txt
unity3d/Library/expandedItems
unity3d/Library/AnnotationManager
unity3d/Library/AssetImportState
unity3d/Library/AssetServerCacheV3
unity3d/Library/InspectorExpandedItems.asset
unity3d/Library/MonoManager.asset
unity3d/Library/ScriptMapper
unity3d/Library/EditorSettings.asset
unity3d/Library/EditorUserBuildSettings.asset
unity3d/Library/BuildSettings.asset
unity3d/Library/BuildPlayer.prefs
